[Desktop Entry]
Name=AT gui-alarm
Name[zh_CN]=AT-定时
Comment=AT gui interface
Comment[zh_CN]=AT命令图形界面
Categories=Office;
Exec=at-gui x
Icon=at-gui.png
Terminal=false
Type=Application
Keywords=AT;Timer;
