[Desktop Entry]
Name=AT gui-delay
Name[zh_CN]=AT命令图形界面-延时
Comment=AT gui interface
Comment[zh_CN]=AT命令图形界面
Categories=Office;
Exec=at-gui
Icon=at-gui.png
Terminal=false
Type=Application
Keywords=AT;Timer;
